*{
    font-family: "Source Sans Pro", "Segoe UI", "Open Sans", Calibri, sans-serif;
}

.select-box-container{
    position: relative;
    width: 250px;
}

.select-box{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 24px 5px 10px;
}

/* .select-box::after{
    position: absolute;
    right: 10px;
    top: calc(50% - 6px);
    transform: translateX(-4px);
    display: inline-block;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 8px solid #707478;
    border-left: 8px solid transparent;
    transform: rotateZ(135deg);
} */

/* .select-box:hover:after{
    border-top-color: rgba(0, 0, 0, 0.8);
} */

/* .opened.select-box::after{
    transform: rotateZ(135deg);
} */


.select-box::after{
    position: absolute;
    right: 10px;
    top: calc(50% - 3px);
    display: inline-block;
    content: "";
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  fill='#707478' stroke='none'><path d='M0,0 6,6 L12,0 L0,0 Z'></path></svg>") no-repeat;
    height: 6px;
    width: 12px;
    transition: transform 0.2s ease-in-out;
}

.collapsed.select-box::after{
    
}

.expanded.select-box:after{
    transform: rotateZ(180deg);   
}

.collapsed.select-box:hover:after{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  fill='rgba(0, 0, 0, 0.8)' stroke='none'><path d='M0,0 6,6 L12,0 L0,0 Z'></path></svg>") no-repeat;
}

/* .expanded.select-box:hover:after{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  fill='rgba(0, 0, 0, 0.8)' stroke='none'><path d='M0,0 6,6 L12,0 L0,0 Z'></path></svg>") no-repeat;
} */

.select-box:hover .select-box-text{
    color:rgba(0, 0, 0, 0.8);
}

.select-box:hover{
    border-color: #3C82E6;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.06);
}

.select-box-text{
    color: #707478;
    font-size: 15px;
    line-height: 22px;
}

.dropdown-box{ 
    position: absolute;
    /* top: 100%; */
    left:0px;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    visibility: hidden;
    max-height: 0px;
    overflow: hidden;
}

.dropdown-box.show{
    border: 1px solid rgba(0, 0, 0, 0.3);
    visibility: visible;
    max-height: 1000px;
    transition: max-height 0.2s linear;
}

.dropdown-box .dropdown-search-box{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075);
}

.dropdown-box .dropdown-search-box input{
    border: none;
    outline: none;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 15px;
    margin: 0px;
    width:100%;
    box-sizing: border-box;
}

.dropdown-box .dropdown-none-matching-box{
    display: none;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.dropdown-box .dropdown-none-matching-box span{
    font-size: 12px;
    color:#707478;
}

.dropdown-box .dropdown-list-box{
    padding-top: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar {
    width: 5px;
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
.dropdown-box .dropdown-list-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); 
}

.dropdown-box .dropdown-list-box .group-wrapper{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.dropdown-box .dropdown-list-box .group-wrapper .group-title{
    padding: 5px 0px 8px 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-box .dropdown-list-box .group-wrapper .option{
    padding: 5px 5px 5px 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
}


.dropdown-box .dropdown-list-box .group-wrapper .option.disabled{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.4);
}

.dropdown-box .dropdown-list-box .group-wrapper .disabled.option::before{
    position: absolute;
    left: 10px;
    top: calc(50% - 5px);
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: inline-block;
}

.dropdown-box .dropdown-list-box .group-wrapper .disabled.option::after{
    position: absolute;
    left: 11px;
    top: calc(50% - 5px + 4.5px);
    content: '';
    width: 8px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    transform: rotate(-45deg);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.option::before{
    display: none;
    position: absolute;
    left: 10px;
    top: calc(50% - 3px);
    content: '';
    width: 6px;
    height: 3px;
    border-left: 1px solid #707478;
    border-bottom: 1px solid #707478;
    /* border-radius: 0.1px; */
    transform: rotateZ(-45deg);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.selected.option::before{
    display: inline-block;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.option:hover:before{
    display: inline-block;
}

.dropdown-box .dropdown-list-box .group-wrapper .option:hover{
    background-color: #e0e0e0;
}

