body{
    margin-left: 20px;
}

*{
    font-family: "Source Sans Pro", "Segoe UI", "Open Sans", Calibri, sans-serif;
}

.select-box-container{
    position: relative;
    width: 250px;
}

.select-box{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px 24px 5px 10px;
    box-sizing: border-box;
    line-height: 22px;
    color: #707478;
}

.select-box:hover{
    border-color: #3C82E6;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.06);
}

.select-box::after{
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    display: inline-block;
    content: "";
    height: 0px;
    width: 0px;
    background-color: transparent;
    border-top: 6px solid #707478;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: transform 0.2s ease-in-out;
}

/* .select-box::after{
    position: absolute;
    right: 10px;
    top: calc(50% - 3px);
    display: inline-block;
    content: "";
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  fill='#707478' stroke='none'><path d='M0,0 6,6 L12,0 L0,0 Z'></path></svg>") no-repeat;
    height: 6px;
    width: 12px;
    transition: transform 0.2s ease-in-out;
} */

.collapsed.select-box::after{
 
}

.expanded.select-box:after{
    transform: rotateZ(180deg);   
}

.collapsed.select-box:hover:after{
    border-top-color: rgba(0, 0, 0, 0.8);
}

.select-box .selected-number{
    /* display: none; */
    padding-right: 5px;
    font-size: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.select-box .select-box-text{ 
    padding-left: 5px;
    font-size: 13px;
}

.select-box:hover .select-box-text{
    color:rgba(0, 0, 0, 0.8);
}


.dropdown-box{ 
    position: absolute;
    left:0px;
    width: 100%;   
    box-sizing: border-box;

    visibility: hidden;
    max-height: 0px;
    overflow: hidden;
}

.dropdown-box.show{
    max-height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    visibility: visible;
    transition: max-height 0.2s linear;
}

.dropdown-box .dropdown-search-box{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075);
}

.dropdown-box .dropdown-search-box::before{
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    left: 8px;
    content: '';
    height: 12px;
    width: 12px;
    background-color: transparent;
    /* border: 1.5px solid rgba(128, 12, 12, 0.2); */
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
}

.dropdown-box .dropdown-search-box::after{
    position: absolute;
    display: inline-block;
    top: calc(50% + 4px);
    left: 13px;
    content: '';
    height: 6px;
    width: 2px;
    background-color: transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    box-sizing: border-box;
    transform: translateX(5px) translateY(-1px) rotate(-30deg);
}

.dropdown-box .dropdown-search-box input{
    width:100%;
    line-height: 20px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 5px 28px;
    font-size: 12px;
    box-sizing: border-box;
}

.dropdown-box .dropdown-none-matching-box{
    display: none;
    width: 100%;
    padding: 20px;
    text-align: center;  
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.dropdown-box .dropdown-none-matching-box span{
    font-size: 12px;
    color:#707478;
}

.dropdown-box .dropdown-list-box{
    /* padding-top: 10px; */
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar {
    width: 5px;
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
.dropdown-box .dropdown-list-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
}

.dropdown-box .dropdown-list-box::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); 
}

.dropdown-box .dropdown-list-box .group-wrapper{
    font-size: 12px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    list-style: none;
}

.dropdown-box .dropdown-list-box .group-wrapper .group-title{
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    padding: 5px 10px 8px 10px;
    
}

.dropdown-box .dropdown-list-box .group-wrapper .group-title b{
    font-size: 14px;
}

.dropdown-box .dropdown-list-box .btn{
    background-color: transparent;
    border: 1px solid #707478;
    border-radius: 3px;
    cursor: pointer;
    color: #707478;
    line-height: normal;
}

.dropdown-box .dropdown-list-box .all:hover{
    border-color: #28a745;
    color: #28a745;
}

.dropdown-box .dropdown-list-box .none:hover{
    border-color:#dc3545;
    color: #dc3545;
}

.dropdown-box .dropdown-list-box .dropdown-select-btn-wrapper{
    width: 100%;
    text-align: center;
    line-height: 38px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075);
}

.dropdown-box .dropdown-list-box .dropdown-select-btn-wrapper .dropdown-select-btn{
    font-size: 12px;
    margin: 0px 6px;
}

.dropdown-box .dropdown-list-box .group-wrapper .group-select-btn{
    margin: 0px 4px;
    font-size: 10px;
}

.dropdown-box .dropdown-list-box .group-wrapper .option{
    padding: 5px 5px 5px 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
}

.dropdown-box .dropdown-list-box .group-wrapper .option:hover{
    background-color: #e0e0e0;
}

.dropdown-box .dropdown-list-box .group-wrapper .option.disabled{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}
/* --------------------------------------------------------------------------------------------------------------------- */
.dropdown-box .dropdown-list-box .group-wrapper .option::before, .dropdown-box .dropdown-list-box .group-wrapper .option::after{
    position: absolute;
    display: inline-block;
    left: 12px;
    content: '';
    box-sizing: border-box;
}


.dropdown-box .dropdown-list-box .group-wrapper .disabled.option::before{
    left: 9px;
    top: calc(50% - 6px);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.dropdown-box .dropdown-list-box .group-wrapper .disabled.option::after{
    left: 10px;
    top: calc(50% - 6px - 1px + 1px + 5px);
    width: 9px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    transform: rotateZ(-45deg);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.single.option::before{
    display: none;
    left: 10px;
    top: calc(50% - 4px);
    width: 9px;
    height: 6px;
    border-left: 1.5px solid #707478;
    border-bottom: 1.5px solid #707478;
    border-radius: 0.5px;
    transform: rotateZ(-45deg);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.single.selected.option::before {
    display: inline-block;
    border-color: rgba(0, 0, 0, 0.8);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.single.option:hover:before{
    display: inline-block;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option::before, .dropdown-box .dropdown-list-box .group-wrapper .available.multi.option::after{
    display: none;
    left: 13px;
    top: calc(50% - 6px);
    width: 2px;
    height: 10px;
    background-color: #707478;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option::after{
    transform: rotateZ(90deg);
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option:hover:before, .dropdown-box .dropdown-list-box .group-wrapper .available.multi.option:hover:after{
    display: inline-block;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option.selected::before{
    display: inline-block;
    left: 9px;
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: transparent;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option.selected::after{
    display: inline-block;
    left: 12px;
    top: calc(50% - 6px + 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.8);
    transform: none;
}

.dropdown-box .dropdown-list-box .group-wrapper .available.multi.option.selected:hover:after{
    left: 11px;
    top: calc(50% - 6px + 5px);
    width: 8px;
    height: 2px;
    border: none;
    background-color:rgba(0, 0, 0, 0.8);
    transform: none;
}



#triangle{
    display: inline-block;
    height: 0px;
    width: 0px;
    background-color: transparent;
    border-bottom: 10px solid rebeccapurple;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: transform 1s linear;
}

#triangle.ani{
    transform: rotateZ(180deg);
}